<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="http://openapi.seoul.go.kr:8088/{0}/json/DailyAverageRoadside/1/100/{1}"/>
		<add key="serviceKey" value="5378624a4973757239367644476152"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>